.backgroundimg{
    background-image: url("../../Images/lelapalodge-060408.jpg");
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
   
}

*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 20rem;
    height: 10rem;
   padding: 20px;
}
nav{
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
ul li a {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
    justify-content:space-between ;
    text-decoration: none;

}
nav ul li{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    right: 80%;
    top: 1rem;
    margin: 20px;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

   
}
h1{
    position: absolute;
    color: white;
    right: 10%;
    top: 25rem;
    font-family: italic;
    font-size: 3.1rem;
}
h22{
    position: absolute;
    color: white;
    right: 13%;
    top: 29rem;
    font-family: italic;
    font-size: 1.7rem;
}
.Para{
    position: absolute;
    color: white;
    right: 12%;
    top: 33rem;
    font-family: italic;
    font-size: 1.7rem;
}
a:hover {
    background-color: grey;

  }